html{
     scroll-behavior: smooth;
}
*{
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', 
     'Arial Narrow', Arial, sans-serif;
}
body{
     margin: 0;
}
header{
     background-color: #b94d64;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 0;
}
nav{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
}
nav a{
     padding-bottom: 10px;
     border-bottom: 1px solid white;
     width: 100%;
     text-align: center;
     font-size: 1.5rem;
}
nav a:hover{
     background-color: rgb(255, 255, 255);
     color: red;
}
a{
     text-decoration: none;
     color: white;
}
h1{
     margin: 0;
     font-size: 3rem;
}
h2{
     margin: 0;
     font-size: 2rem;
}
.contenedor{
     height: 100vh;
     background-color: #f5b2d3;
}
#inicio .contenedor{
     background-image: url(../img/tuyyo.jpg);
     color: #e1002a;
     background-size: cover;
     background-position: top center;
     padding: 20px 0;
     text-align: center;
     text-shadow: 3px 3px 5px white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.bob{
     width: 50%;
}
#sorpresa .contenedor{
     background-color: #e1002a;
     display: flex;
     flex-direction: column;
     padding: 20px 10px;
     text-align: center;
     justify-content: center;
     height: auto;
}
.carta{
     box-shadow: 5px 5px 10px black;
     margin: 10px;
     background-color: #ca0028;
     border-radius: 10px;
}
.carta h2{
     text-shadow: 3px 3px 3px rgb(0, 0, 0);
     color: #ca0032;
}
.carta p{
     color: white;
}
#fotos .contenedor{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     font-size: 1.5rem;
     background: linear-gradient(
          0deg,
          rgb(255,225,255),
          rgb(163, 0, 163)
     );
}
.imagen{
     width: 90%;
     box-shadow: 5px 5px 10px black;
     border: 3px solid red;
     border-radius: 10px;
}
#fotos p{
     margin: 10px;
}
footer{
     background-color: #e1002a;
     padding: 5px;
}
footer a{
     margin: 0;
     font-size: 1.5rem;
     display: block;
     text-align: center;
}